body {
  text-align: center;
}

.container {
  margin-top: 100px;
  padding: 0 90px;
}

.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

/* BLOCCO LEZIONI */
#lezioni .col-lg-6 img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* BLOCCO STEPS */
/* BLOCCO PERCHE */
#why .col-lg-12 {
  margin-top: 80px;
}
#why .col-lg-12 img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}
